<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	<link rel="icon" type="image/png" href="../static/images/icone.png">
    <title>WordGrid</title>
  </head>
  <body>

    <div style="--bg-image: url('{{ url_for('static', filename=image_fond) }}');" class="background"></div>

    <div class="bloc_central">
      {% block bodyCode %}{% endblock %}
    </div>
    {% block lightBoxPlay %}{% endblock %}
  </body>
</html>
