<!-- Récupération code de base du html -->
{% extends 'base.html' %}

<!-- Corps du code -->
{% block bodyCode %}
  <img src="../static/images/logo.png" style="width:100%; vertical-align:middle; alt="WordGrid">
  <p>Explore les mots comme un monde encore inexploré</p>

  <form action="{{ url_for('menu_config') }}" method="post">
    <div>
      <input type="submit" value="Commencer" class="btn commencer">
    </div>
  </form>
  <form action="{{ url_for('leaderboard') }}" method="get">
    <div>
      <input type="submit" value="Voir le Classement" class="btn leaderboard">
    </div>
  </form>
{% endblock %}