<!-- Récupération code de base du html -->
{% extends 'base.html' %}

<!-- Corps du code -->
{% block bodyCode %}
  <h1>WordGrid</h1>
  <h2>Game</h2>
  <!-- <p>cheat code : {{mot}}</p> -->
  <form action="{{ url_for('game') }}" method="post">
    {% if configuration.modeJeu ==  'chrono' %}
      <p id="chronometre">Votre temps : 0h 0m 0s</p>
    {% endif %}

    <p>Le mot à deviner : en {{ configuration.longueur_mot }} lettres, le thème : {{ liste_theme[configuration.theme] }}, en {{ liste_langue[configuration.langue] }}</p>
    <p>Il vous reste {{ essais_restant }} essais.</p>

    {% if liste_mot|length > 0 %}
      {% for mot, couleur in liste_mot %}
        <div class="ligne {% if loop.last %}nouvelle{% endif %}" style="--nb-lettre: {{configuration.longueur_mot}};">
          {% for i in range(mot|length) %}
            {% if couleur[i] == 'V' %}
              <div class="case_utilise vert">{{mot[i].upper()}}</div>
            {% endif %}
            {% if couleur[i] == 'J' %}
              <div class="case_utilise jaune">{{mot[i].upper()}}</div>
            {% endif %}
            {% if couleur[i] == 'G' %}
              <div class="case_utilise gris">{{mot[i].upper()}}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
    
    <input type="text" name="mot_tentative" id="input_mot" maxlength="{{ configuration.longueur_mot }}"
      style="opacity:0; position:absolute; left: -9999px;" required autofocus> <!-- l'input est caché ! -->

    <div class="ligne" style="--nb-lettre: {{configuration.longueur_mot}};">
      {% for _ in range(configuration.longueur_mot) %}
        <div class="case case_focus"></div>
      {% endfor %}
    </div>
    
    {% for _ in range(essais_restant-1) %}
      <div class="ligne" style="--nb-lettre: {{configuration.longueur_mot}};">
        {% for _ in range(configuration.longueur_mot) %}
          <div class="case_non_utilise case_focus"></div>
        {% endfor %}
      </div>
    {% endfor %}
    <script>
      const cases = document.querySelectorAll(".case");
      const inputCache = document.getElementById("input_mot");
      let index = 0;

      inputCache.addEventListener("input", () => {
        const valeur = inputCache.value.toUpperCase();

        inputCache.value = valeur.replace(/[^A-Z ]/g, "");

        // Mise à jour des cases
        cases.forEach((c, i) => {
          c.textContent = inputCache.value[i] || "";
        });

        index = inputCache.value.length;
      });
      inputCache.addEventListener("keydown", (e) => {
        if (e.key === "Enter" && inputCache.value.length === {{configuration.longueur_mot}}) {
          const btn_soumettre= document.querySelector('input[name="soumettre_proposition"]')
          btn_soumettre.click();
        }
      });

      let running = true;
      const startTime = {{ start_time }};
      setInterval(() => {
        const lightbox = document.getElementById("lightbox");
        const chrono = document.getElementById("chronometre");
        // si le lightbox est visible, pause du chrono
        if (!lightbox || getComputedStyle(lightbox).display === "none") {
          running = true;
        } else { 
          running = false;
        }
        // lancement du chrono
        if (!running){ return;}
        if (chrono){
          const now = Date.now() / 1000;
          const elapsed = now - startTime;

          const hours = Math.floor(elapsed / 3600);
          const minutes = Math.floor((elapsed % 3600) / 60);
          const seconds = (elapsed % 60).toFixed(2);

          chrono.textContent = `Votre temps : ${hours}h ${minutes}m ${seconds}s`;
        }
      }, 50);

      const cases_focus = document.querySelectorAll(".case_focus");
      const input_mot = document.querySelector('input[name="mot_tentative"]');
      cases_focus.forEach(chaque_case => {
        chaque_case.addEventListener("click", () => {
          input_mot.focus();
        });
      });
    </script>

    <div>
      <!-- Bouton pour soumettre la réponse de la proposition -->
      <input type="submit" name="soumettre_proposition" class="btn submit" value="Soumettre">
    </div> 

    <div>
      <!-- Bouton pour annuler la partie -->
      <input type="submit" name="abandonne_partie" 
        class="btn resign" value="Abandonner la partie" formnovalidate>
    </div> 
  </form>
{% endblock %}

{% block lightBoxkPlay %}
  <form action="{{ url_for('game') }}" method="post">
    {% if fin_partie %}
      <div id="lightbox" class="lightbox active">
        <div class="lightbox-content {% if victoire %}win{% else %}lose{% endif %}">
          <h2>Fin de la Partie</h2>

          {% if victoire %}
            <p class="result-message">🎉 Vous avez gagné !</p>
          {% else %}
            <p class="result-message">💀 Vous avez perdu !</p>
          {% endif %}

          <p>Le mot secret est : {{mot}}</p>

          {% if configuration.modeJeu ==  'chrono' %}
            <p>Votre temps est : {{temps[0]}}h {{temps[1]}}min {{temps[2]}}sec</p>
          {% endif %}
          <div>
            <!-- Bouton pour revenir en arrière -->
            <input type="submit" name="btn_revenir" class="btn go-back" 
              value="Revenir en arrière" formnovalidate>
          </div>
        </div>
      </div>
    {% else %}
      <div id="lightbox" class="lightbox" style="display: none;"></div>
    {% endif %}
  </form>
{% endblock %}